{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Blog -->
<section class="blog__section" id="blog">
    <div class="container">
        <div class="blog">
            <div class="head">
                <p class="h3">
                    Our Blog
                </p>

                <span class="_latest">
                    Get the latest of what the Ministry of Commerce and Industry does and how he impacts Kogi State!
                </span>
            </div>

            <div class="body">
                <div class="_blog_body">
                    <div class="row animate__animated animate__rotateInUpLeft animate__slower">
                        {% for post in posts %}
                        <div class="col-md-4">
                            <div class="card-img card-top">
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-responsive">
                            </div>

                            <div class="card-body">
                                <p class="h5">
                                    <a href="{{ post.get_absolute_url }}" class="_link">
                                        {{ post.title }}
                                    </a>
                                </p>

                                <span class="date">
                                    {{ post.date_created }}
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}