{% extends "blog_base.html" %}
{% load static %}

{% block title %}
{{ article.title }}
{% endblock title %}

{% block content %}
<!-- Blog Section -->
<section class="blogsingle__section">
    <div class="container">
        <div class="blog">
            <div class="head">

                <a href="" class="news_link">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>

                    Latest News
                </a>
            </div>


            <div class="body">
                <div class="row">
                    <div class="col-md-8 animate__animated animate__fadeInDownBig animate__slower">
                        <div class="head">
                            <p class="h5">
                                Northwood University and Limkokwing explore future collaboration
                            </p>

                            <span class="date_posted">
                                22 Feb 2020
                            </span>

                            <img src="assets/images/background_one.jpeg" alt="" class="img-responsive">
                        </div>

                        <div class="body">
                            <p class="h5">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aliquam ullam optio
                                sint nemo eaque non impedit maiores quae saepe. Ut sunt perferendis earum nam!
                            </p>

                            <p class="h5">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aliquam ullam optio
                                sint nemo eaque non impedit maiores quae saepe. Ut sunt perferendis earum nam!
                            </p>

                            <p class="h5">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aliquam ullam optio
                                sint nemo eaque non impedit maiores quae saepe. Ut sunt perferendis earum nam!
                            </p>

                            <p class="h5">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aliquam ullam optio
                                sint nemo eaque non impedit maiores quae saepe. Ut sunt perferendis earum nam!
                            </p>

                            <p class="h5">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aliquam ullam optio
                                sint nemo eaque non impedit maiores quae saepe. Ut sunt perferendis earum nam!
                            </p>

                            <p class="h5 share">
                                Share:

                                <div class="flex_share">
                                    <a href="" class="share_icon">
                                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="share_icon">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="share_icon">
                                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                    </a>
                                </div>
                                </>
                        </div>
                    </div>

                    <div class="col-md-4 animate__animated animate__fadeInUpBig animate__slower">
                        <div class="meta_">

                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <div class="image">
                                        <img src="assets/images/background_one.jpeg" alt="">
                                    </div>

                                    <a href="" class="h5">
                                        The Diversity Effect of Limkokwing
                                    </a>

                                    <p class="date_posted h6">
                                        19 Feb 2020
                                    </p>
                                </div>

                                <div class="col-md-12 mb-4">
                                    <div class="image">
                                        <img src="assets/images/background_one.jpeg" alt="">
                                    </div>

                                    <a href="" class="h5">
                                        The Diversity Effect of Limkokwing
                                    </a>

                                    <p class="date_posted h6">
                                        19 Feb 2020
                                    </p>
                                </div>

                                <div class="col-md-12 mb-4">
                                    <div class="image">
                                        <img src="assets/images/background_one.jpeg" alt="">
                                    </div>

                                    <a href="" class="h5">
                                        The Diversity Effect of Limkokwing
                                    </a>

                                    <p class="date_posted h6">
                                        19 Feb 2020
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock content %}