{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Important Metas -->
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}">

    <!-- Awesome Font Kit -->
    <script src="https://kit.fontawesome.com/6e47be172b.js" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/" type="image/x-icon">

    <!-- Title -->
    <title>Kogi Economic Summit 2021</title>
</head>

<body>
    <!-- Coming Soon -->
    <section class="coming_section">
        <div class="container">
            <nav class="navbar navbar-expand-sm coming_nav">
                <a href="{% url "summit:summit_page" %}" class="navbar-brand">
                    <img src="{% static "images/image_two.jpeg" %}" alt="logo" class="logo">
                </a>

                <!-- Toggle Button -->
                <a href="#" class="toggle-button d-lg-none" id="toggle-button">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>

                <!-- Nav tabs -->
                <ul class="nav_tabs mobile-none">
                    <li class="nav-item">
                        <a href="#manifesto" class="nav-link">Manifesto</a>
                    </li>
                    <li class="nav-item">
                        <a href="#gallery" class="nav-link">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a href="#blog" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact_us" class="nav-link">Contact Us</a>
                    </li>
                </ul>

            </nav>

            <ul class="nav_tabs_mobile d-none" id="nav-tabs">
                <li class="nav-item">
                    <a href="{% url "summit:summit_page" %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="https://{{ request.get_host }}/#manifesto" class="nav-link">Manifesto</a>
                </li>
                <li class="nav-item">
                    <a href="https://{{ request.get_host }}/#gallery" class="nav-link">Gallery</a>
                </li>
                <li class="nav-item">
                    <a href="{% url "blog:posts" %}" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="https://{{ request.get_host }}/#contact_us" class="nav-link">Contact Us</a>
                </li>
            </ul>

            <div class="coming_soon">

                <!-- Messages -->
                {% if messages %}
                {% for message in messages %}
                <div class="alert text-center {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <!-- /.Messages -->

                <div class="row">
                    <div class="head col-md-8">
                        <div class="animate__animated animate__fadeInLeftBig animate__slow">
                            <p class="h2">
                                Everything is <br> about to <br><span class="change">change.</span>
                            </p>

                            <p class="h5">
                                Join The Discourse <br> September 10th <br> Saatof Hotel Lokoja, Kogi State
                            </p>

                            <p class="time_date h5">
                                Time - 10:00am, Exhibition - 1pm, Awards - 4:00pm <br>
                            </p>
                        </div>

                        <a href="#contact_us" class="register animate__animated animate__fadeInDownBig animate__slow">
                            Register Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Manifesto -->
    <section class="manifesto__section" id="manifesto">
        <div class="container">
            <div class="manifesto animate__animated animate__fadeInRightBig animate__slow">
                <div class="head">
                    <p class="h3 text-success">
                        Orcapella Digital/Kogi State Ministry of Commerce and Industry Investment and Entrepreneurs
                        Summit 2021
                    </p>

                    <p class="h5">
                        The Investment and Entrepreneurs Summit 2021 is one of the scheduled activities for the
                        forthcoming event
                        titled; <span class="green">FROM KOGI TO NIGERIA!</span> The summit is going to be a PPP
                        (Public-Private-Partnership).
                    </p>

                    <p class="h5">
                        The Investment and Entrepreneurs Summit aims to introduce new paradigms on finance and the
                        economy of Kogi state
                        which is inspired by Naija priority Initiative, a project of Orcapella digital in collaboration
                        with Ministry of Commerce and Industry Kogi State, to
                        present transformational businesses as new models for poverty alleviation and sustainable
                        development in Kogi state. The summit will create a platform for networking among business
                        owners in Kogi State, generating four-fold capital (human, social, natural and financial) as new
                        models to also empower SME's in the state.
                    </p>

                    <p class="h5">
                        The summit will also bring together chief executives/top level operators from the private
                        sector and very senior Government officials to discuss how best to develop Kogi state economy
                        and monitor the progress that is being made. The main focus of the summit is the short to
                        medium term policy direction while giving priority to the exploits of Governor Yahaya Adoza
                        Bello's Administration in the area of internal revenue generation in the context of the evolving
                        global economy.
                    </p>

                    <div class="register_div">
                        <a href="#contact_us" class="register">
                            Don't Miss This Opportunity!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Gallery -->
    <section class="gallery__section" id="gallery">
        <div class="container">
            <div class="gallery">
                <div class="head">
                    <p class="h3">
                        Our Gallery
                    </p>
                </div>

                <div class="body">
                    <div class="grid__one animate__animated animate__fadeInLeftBig animate__slower">
                        <div class="image_one">
                            <img src="{% static "images/image_fiveteen.png" %}" alt=""
                                class=" card-img img-responsive one">
                            <p class="h5">
                                Comrade. Leo Benjamin Ebute
                                MD/CEO Orcapella Digital
                            </p>
                        </div>

                        <div class="image_three">
                            <img src="{% static "images/image_three.jpeg" %}" alt="" class="img-responsive two">
                            <p class="h5">
                                Kogi State Commerce and Industry is Working!
                            </p>
                        </div>

                        <div class="image_four">
                            <img src="{% static "images/image_four.jpeg" %}" alt=""
                                class="card-img img-responsive three">
                            <p class="h5">
                                Hon. Gabriel Yinusa Olofu
                                Honourable Commissioner, Commerce and Idustry
                                Kogi State, Nigeria
                            </p>
                        </div>
                    </div>

                    <div class="summit__grid animate__animated animate__fadeInDownBig animate__slower">
                        <img src="{% static "images/summit_bg.jpeg" %}" alt="" class="img-responsive">
                    </div>

                    <div class="grid__two animate__animated animate__fadeInRightBig animate__slower">
                        <img src="{% static "images/image_five.jpeg" %}" alt="" class="img-responsive">

                        <img src="{% static "images/image_six.jpeg" %}" alt="" class="img-responsive">

                        <img src="{% static "images/image_seven.jpeg" %}" alt="" class="img-responsive">
                    </div>

                    <div class="grid__two__caption animate__animated animate__fadeInRightBig animate__slower">
                        <p class="h5">
                            The MD/CEO Orcapella Digital and The Korean envoy to Nigeria interacting during the 2021
                            Nigeria-Korea Summit organized by Orcapella Digital.
                        </p>
                    </div>

                    <div class="grid__three animate__animated animate__fadeInLeftBig animate__slower">
                        <img src="{% static "images/image_eight.jpeg" %}" alt="" class="img-responsive">
                        <img src="{% static "images/image_nine.jpeg" %}" alt="" class="img-responsive">
                        <img src="{% static "images/image_ten.jpeg" %}" alt="" class="img-responsive">
                    </div>

                    <div class="grid__four animate__animated animate__bounceInLeft animate__slower">

                        <div class="eleven">
                            <img src="{% static "images/image_eleven.jpeg" %}" alt="" class="img-responsive">
                        </div>

                        <div class="twelve">
                            <img src="{% static "images/image_twelve.jpeg" %}" alt="" class="img-responsive">
                        </div>

                        <div class="thirteen">
                            <img src="{% static "images/image_thirteen.jpeg" %}" alt="" class="img-responsive">
                        </div>
                    </div>

                    <div class="eighteen__img animate__animated animate__bounceInUp animate__slower">
                        <img src="{% static "images/image_eighteen.jpeg" %}" alt="" class="img-responsive">

                        <p class="h5">
                            The Honourable Commissioner for Commerce and Industry, Kogi State, engaging and attracting
                            new investors to the State.
                        </p>
                    </div>

                    <div class="grid__five animate__animated animate__bounceInRight animate__slower">

                        <div class="five">
                            <img src="{% static "images/image_fourteen.jpeg" %}" alt="" class="img-responsive">
                        </div>
                        <div class="five">
                            <img src="{% static "images/image_nineteen.jpeg" %}" alt="" class="img-responsive">

                        </div>
                        <div class="five">
                            <img src="{% static "images/image_sixteen.jpeg" %}" alt="" class="img-responsive">
                        </div>
                    </div>

                    <div class="agric__img animate__animated animate__rotateInUpLeft animate__slower">
                        <img src="{% static "images/image_twenty.jpeg" %}" alt="" class="img-responsive">

                        <p class="h5">
                            The Honourable Commissioner for Commerce and Industry, Kogi State, is committed to the
                            revitalization of Industrial Agriculture in the State.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% block content %}

    {% endblock content %}

    <!-- Contact Us -->
    <section class="contact__us__section" id="contact_us">
        <div class="container">
            <div class="contact__us">
                <div class="head">
                    <p class="h3">
                        Register For The Event
                    </p>

                    <p class="h5">
                        We're going to need a little information about yourself.
                    </p>

                    <span class="h6">
                        For more Enquiries, please call: <a href="tel:+2349093843448">09093843448</a>, <a
                            href="tel:+2349036013540">09036013540</a>
                    </span>
                </div>

                <div class="body">
                    <form action="{% url "summit:submit_message" %}" method="post" class="row contact_form">
                        {% csrf_token %}

                        <!-- Name -->
                        <div class="form-group col-md-6">
                            <label for="name">
                                Name
                            </label>
                            <input type="name" class="form-control" name="name" id="name" placeholder="Your Name">
                        </div>

                        <!-- Email -->
                        <div class="form-group col-md-6">
                            <label for="email">
                                Email
                            </label>
                            <input type="email" class="form-control" name="email" id="email"
                                placeholder="Your Email Address">
                        </div>

                        <!-- Mobile Number -->
                        <div class="form-group col-md-12">
                            <label for="mobile_number">
                                Mobile Number
                            </label>
                            <input type="text" class="form-control" name="mobile_number" id="mobile_number"
                                placeholder="Your Mobile Number">
                        </div>

                        <!-- About Yourself -->
                        <div class="form-group col-md-12">
                            <label for="about-you">
                                About You
                            </label>

                            <textarea class="form-control" name="describe" id=""
                                placeholder="Describe yourself and what you tend to acheive in this summit"
                                rows="3"></textarea>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group col-md-12">
                            <button class="submit_btn btn btn-block" type="submit">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer Section -->
    <footer class="footer__section">
        <div class="container">
            <div class="_copyright">
                <span class="logo">
                    The Investment and Entrepreneurs Summit 2021 is one of the scheduled activities for the
                    forthcoming event
                    titled; <span class="green">FROM KOGI TO NIGERIA!</span> The summit is going to be a PPP
                    (Public-Private-Partnership).
                </span>
            </div>

            <div class="_trademark">
                <p class="h6">
                    Copyright © 2021 Kogi Economic Summit. All Right Reserved.
                </p>

                <p class="h6">
                    Designed & Built in the beautiful city of Lokoja, Kogi by <a
                        href="https://api.whatsapp.com/send/?phone=2348137281916" class="_abram" id="_abram">Israel
                        Abraham.</a>
                </p>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

    <!-- Custom JS -->
    <script src="{% static "js/main.js" %}"></script>
</body>

</html>