{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Blog -->
<section class="blog__section" id="blog">
    <div class="container">
        <div class="blog">
            <div class="head">
                <p class="h3">
                    Our Blog
                </p>

                <span class="_latest">
                    Get the latest of what the Ministry of Commerce and Industry does and how he impacts Kogi State!
                </span>
            </div>

            <div class="body">
                <div class="_blog_body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-img card-top">
                                <img src="assets/images/image_five.jpeg" alt="" class="img-responsive">
                            </div>

                            <div class="card-body">
                                <p class="h5">
                                    <a href="" class="_link">
                                        NORTHWOOD UNIVERSITY AND LIMKOKWING EXPLORE FUTURE COLLABORATION
                                    </a>
                                </p>

                                <span class="date">
                                    22 FEB 2020
                                </span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card-img card-top">
                                <img src="assets/images/image_fourteen.jpeg" alt="" class="img-responsive">
                            </div>

                            <div class="card-body">
                                <p class="h5">
                                    <a href="#" class="_link">
                                        THE DIVERSITY EFFECT OF LIMKOKWING
                                    </a>
                                </p>

                                <span class="date">
                                    19 FEB 2020
                                </span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card-img card-top">
                                <img src="assets/images/image_twenty.jpeg" alt="" class="img-responsive">
                            </div>

                            <div class="card-body">
                                <p class="h5">
                                    <a href="#" class="_link">
                                        KPKT COLLABORATES WITH LIMKOKWING TO PROMOTE BETTER LIVING STANDARDS
                                    </a>
                                </p>

                                <span class="date">
                                    12 FEB 2020
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}